[submodule "modules/mod-ah-bot"]
	path = modules/mod-ah-bot
	url = https://github.com/locus313/mod-ah-bot.git
[submodule "modules/mod-autobalance"]
	path = modules/mod-autobalance
	url = https://github.com/locus313/mod-autobalance.git
